html
{
    background: url("../images/general-knowledge.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* OPENING SCREEN */
#opening-screen
{
    height: 300px;
    padding-top: 100px;
}

#opening-screen button
{
    font-size: 30pt;
    transition: 0.1s ease-in all;
    background-color: white;
    border-radius: 20px;
}

#opening-screen button:hover
{
    background-color: #6a6e6c;
    color:white;
    transition: 0.1s ease-in all;
}

/* DIFFICULTY */
.difficulty-choices
{
    text-transform: capitalize;
}

/* HEADER */
.col-header
{
    background-color: transparent !important;
    text-align: center;
    height: 200px;
}

.col-header h1
{
    line-height: 200px;
    color:white;
    text-shadow: 5px 5px black;
    font-size: 40pt;
}

/* QUESTION CONTAINER */
.col-question-container
{
    border: 1px solid black;
    height: 500px;
    background-color: white;
    background: url("../images/black-wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* TIMER */
.col-timer
{
    text-align: center;
    height: 100px;
}

.col-timer p
{
    line-height: 100px;
}

.countdown-clock
{
    width: 100px !important;
    height: 250px !important;
    color:white;
}

/* QUESTION */
.col-question
{
    text-align: center;
    padding-top: 20px;
}

.col-question p
{
    font-size: 16pt;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 0 black;
}

/* ANSWER */
.col-answers
{
    padding-top: 20px;
}

.col-answers ul li
{
    text-align: center;
}

.correct-answer-span
{
    font-weight: bold;
}

/* WRONG ANSWER */
.col-wrong-answer
{
    text-align: center;
}

.col-wrong-answer .correct-answer-container
{
    color:white;
    font-size: 22pt;
    text-shadow: 3px 3px 0 black;
}

.gif-image
{
    height: 200px;
    width: 350px;
}

/* SUMMARY */
.summary
{
    text-align: right;
}

.summary_number
{
    color:white;
    font-size: 22pt;
    text-shadow: 3px 3px 0 black;
    text-align: left;
    margin-left: 20px;
}

.restart-btn
{
    text-align: center;
}

.restart-btn button
{
    font-size: 14pt;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.1s ease-in all;
    background-color: white;
}

.restart-btn button:hover
{
    background-color: #6a6e6c;
    color:white;
    font-weight: bold;
    transition: 0.1s ease-in all;
}